<form (ngSubmit)="onSubmit()" #developerForm="ngForm">
  <div class="form-group">
    <label for="uuid">ID</label>
    <input type="text" class="form-control" id="uuid" name="uuid" required disabled [(ngModel)]="developer.id">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="developer.name">
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" name="country"
           [(ngModel)]="developer.country">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!developerForm.form.valid">Dodaj</button>
</form>
